body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}
.container {
    width: 50%;
    background: rgb(151, 198, 200);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.image-container img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
h2 {
    text-align: center;
}
input, select, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(151, 198, 200);
    border-radius: 50px;
    box-sizing: border-box;
}
button {
    background-color: #3877c0;
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #3877c0;
    border-radius: 50px;
    box-sizing: border-box;
}
button:hover {
    background-color: #1a385b;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th {
    background: #3877c0;
    color: white;
}
.hapus-button {
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
}